<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>CPU Sim</string>
	<key>CFBundleIdentifier</key>
	<string>cpusim.Main</string>
	<key>CFBundleVersion</key>
	<string>3.6.9</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>CPUIcon3.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>MainClass</key>
		<string>cpusim.Main</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/CPUSim3.6.jar</string>
			<string>$JAVAROOT/CPUSimHelp3.6.jar</string>
			<string>$JAVAROOT/jhall.jar</string>
			</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
